$primary-color: #4f46e5;
$primary-hover: #4338ca;
$bg-page: #f8fafc;
$text-main: #1e293b;
$text-secondary: #64748b;
$error: #d82b2b;
$border-color: #e2e8f0;
$user-name-background: #f1f5f9;
$correct: #16a34a;